*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}
h1{
  width: 899px;
  text-align: center;
  background: gray;
}
.content{
  padding:10px;
  width: 879px;
}
button{
  padding: 5px;
  vertical-align: top;
  display: inline-block;
}
p{
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.container{
  width: 899px;
  margin: 5px;
  border: 1px solid black;
}
#wizard{
  width: 75px;
}
#fairy{
  width: 75px;
}
#poop{
  width: 75px;
}
.newness{
  background: pink;
  color: blue;
}
#coffee{
  vertical-align: top;
  display: inline-block;
}
#coffeecup{
  margin-right: 5px;
}
